<div class="text-center">
  <% @memos.each do |m| %>
    <p><font size="6">タイトル：<%= h(m["title"]) %></font></p>
    <p><font size="6">内容：<%= h(m["content"]) %></font></p>
  
    <a class="btn btn-secondary" href="/memos/<%= m["id"] %>/edit" role="button">変更</a>
      <form  action="/memos/<%= m["id"] %>" method="post">
        <input type="hidden" name="_method" value="delete">     
        <button type="submit" class="mt-1 btn btn-secondary">削除</button>  
      </form>
  <% end %>
</div>